use serde::{Serialize, Deserialize};

#[derive(Serialize, Deserialize)]
{%- if let Some(title) = model.title -%}
{% for line in title.trim().lines() %}
/// {{line-}}
{% endfor -%}
{% endif %}
{%- if let Some(description) = model.description -%}
{% for line in description.trim().lines() %}
/// {{line-}}
{% endfor -%}
{% endif %}
pub struct {{model.struct_name()}} {
  {%~ for (model, var_name, type) in properties %}
    {%- if let Some(title) = model.title -%}
    {% for line in title.trim().lines() %}
    /// {{line-}}
    {% endfor -%}
    {% endif %}
    {%- if let Some(description) = model.description -%}
    {% for line in description.trim().lines() %}
    /// {{line-}}
    {% endfor -%}
    {% endif %}
    {{var_name}}: {{type}},
  {% endfor -%}
}
